h4 {
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

#menu {
    border-top: 10px hidden #ff6550;
    border-right: 5px solid #6c757d;
    border-bottom: 10px hidden #ff6550;
}